@import "catencomu/partials/body";
@import "catencomu/partials/cards";
@import "catencomu/partials/home";
@import "catencomu/partials/footer";
@import "catencomu/partials/links";
@import "catencomu/partials/login";
@import "catencomu/partials/navbar";
