.civicrm-sync-group {
	display: flex;
	align-items: baseline;
	&-select {
		margin-right: 4px;
		margin-bottom: 0;
	}
	&-edit {
		visibility: hidden;
	}
}

.managers-processes-list {
	tr:hover {
		.civicrm-sync-group-edit {
			visibility: visible;
		}
	}
}