@import "variables";
@import "catencomu/utils/mixins";

.main-footer {
  @include gradient-background($catencomu-red, $catencomu-lilac);
  
  a {
    color: $link-color;
  }
  .main-footer__badge {
    position: unset;
  }
}

.mini-footer{
  @include gradient-background($catencomu-red, $catencomu-lilac);
  
  a {
    color: $link-color;
  }

}