// Define custom properties as css color variables

$catencomu-red: #e8412c;
$catencomu-red-rgb: 232,65,44;
$catencomu-lilac: #54076e;
$catencomu-lilac-rgb: 84,7,110;

$body-font-color: #494949;
$body-background-color: #fafafa;
$navbar-color: #54076e;
$navbar-rgb: 35,31,32;
$title-bar-color: #e8412c;
$title-bar-rgb: 252,206,6;
// Variables

$primary: $catencomu-red;
$primary-rgb: $catencomu-red-rgb;
$secondary: $catencomu-lilac;
$secondary-rgb: $catencomu-lilac-rgb;
$success: #6eeb83;
$success-rgb:110,235,131;
$warning: #f46036;
$warning-rgb: 244,96,54;
$alert: #EE3138;
$alert-rgb: 239,45,86;

$title-bar-bg: #080707;
$card-link: #080707;
$card-link-hover: #494949;
$link-color: #fff;
$navbar-fg: $title-bar-bg;
$navbar-fg-hover: $body-font-color;
$navbar-bg: #f1f1f1;

$proposals: #238ff7;
$actions: #6eeb83;
$debates: #fa6c96;
$meetings: #fabc6c;

$twitter: #55acee;
$facebook: #3b5998;
$google: #dd4b39;

// background colors used in public diff views
$color-addition: #e6ffed;
$color-removal: #ffeef0;

:root{
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
  --proposals: #{$proposals};
  --actions: #{$actions};
  --debates: #{$debates};
  --meetings: #{$meetings};
  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}
