@import "variables";

/* fix color variables */
.cookie-warning a {
  color: var(--secondary);
}
.button.hollow.secondary:hover,
.button.hollow.secondary:focus {
  color: var(--secondary);
}
.floating-helper__text {
  color: var(--secondary);
}
.floating-helper__icon {
  background-color: var(--secondary);
}
.global-accountability .row.column .card--accountability .card__content ul a,
.global-accountability .row.columns .card--accountability .card__content ul a,
.global-accountability .row.column .card--accountability .badge-card__content ul a,
.global-accountability .row.columns .card--accountability .badge-card__content ul a {
  color: var(--secondary);
}
.topbar__dropmenu .is-dropdown-submenu li a {
  color: var(--secondary);
}
.svg-icon-path {
  color: var(--secondary) !important ;
}
html a {
  color: var(--secondary);
}
.card__link,
.card__link:hover {
  color: var(--secondary);
}
.card__text a:hover {
  color: $body-font-color;
}
.author-data .author__name {
  color: var(--secondary);
}
.process_stats .process_stats-item .icon {
  color: var(--secondary);
}
#profile-tabs.tabs .tabs-title a {
  color: var(--secondary);
}
.floating-helper__icon-big {
  color: var(--secondary);
}

.link,
.link-alt {
  color: var(--secondary);

  &:hover {
    color: $body-font-color;
  }
}
.side-panel__tabs .tabs-title.is-active > [role="tab"],
.side-panel__tabs .tabs-title.is-active > a {
  color: var(--secondary);
}
.side-panel__tabs .tabs-title > [role="tab"]:hover,
.side-panel__tabs .tabs-title > a:hover {
  color: var(--secondary);
}
.opinion-toggle--meh:hover {
  background-color: var(--secondary);
}
.opinion-toggle--meh:focus {
  background-color: var(--secondary);
}
.opinion-toggle--meh.is-active {
  background-color: var(--secondary);
}
.floating-helper__content-close {
  background-color: var(--secondary);
}
.button.secondary {
  background-color: var(--secondary);
}
.floating-helper__content {
  border-top: 5px solid var(--secondary);
}
.pagination .current {
  background: var(--secondary);
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--secondary) transparent transparent;
}
.dropdown.menu .is-active > a {
  color: var(--secondary);
}

.collapsible-list .collapsible-list__see-more {
  color: var(--secondary);
}

/* fix colors variables secondary darker  */
a:focus {
  color: var(--secondary);
}
a:hover {
  color: var(--secondary);
}
.author__name:hover {
  color: var(--secondary);
}
.author-data a:hover {
  color: var(--secondary);
}
.author-data button:hover {
  color: var(--secondary);
}
.button.secondary:hover {
  background-color: var(--secondary);
}
.card--list__icon {
  fill: var(--secondary);
}
