name: Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUBY_VERSION: 3.0.6
  NODE_VERSION: 16.20.2
  RAILS_ENV: test
  DATABASE_USERNAME: postgres
  DATABASE_PASSWORD: postgres

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: 129.0.6668.71

      - name: Setup & create Database
        run: |
          bundle exec rails db:create db:schema:load

      - name: Precompile assets
        run: |
          npm install
          bundle exec rake assets:precompile
        env:
          RAILS_ENV: test

      - name: Run RSpec
        run: SIMPLECOV=1 CODECOV=1 bundle exec rspec
